.window {						
display	: none;				
z-index	: 2;					
position: fixed;		
top	: 50%;				
left: 50%;				
margin-top: -4em;				
margin-left	: -10em;      
background-color: red;	
border-radius: 15px;				
border: solid 1px black;
box-shadow:10px 10px 5px #888;
padding	: 5px;				
width: 32em;
height: 20em;
}
#scrnOverlay {
z-index	: 1;					
visibility: hidden;
position :fixed;		
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: grey;
opacity: 0.5;
 }