.title{
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
span{
	text-transform: uppercase;
	font-family:Georgia, 'Times New Roman', Times, serif ;
	text-shadow: 1.5px 1.5px black;
	color: red;
	font-size: 30px;
	padding-top: 10px;
}
.textinput {
	margin: 10px;
	background-color: black;
	color: gold;
}
.textinput input {
	border-radius: 6px;
	margin: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.radioinput fieldset {
	border: none;
	background-color: black;
	color: gold;
}
.radioinput legend {
	float : left;
	text-align: right;
	width : 9em;		
	margin-right: 1em;
	text-transform: uppercase;
}
.radioinput input  {
	width: 2em;		
}
.radioinput label  {
	float : none;		
	text-align: left;		
}
.buttoninput {
	text-align : center;
    font-size: 50px;
    padding: 10px;
    margin: 20px;
}
.buttoninput input {
	width: 300px;
    height:30px;
	color: gold;
	background-color: black;
	text-transform: uppercase;
}
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Register{
    width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 90px;
    line-height: 85px;
}
.Logo{
    font-size: 35px;
    color: gold;
    font-weight: bold;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0,4s all ease;
}
.ulist{
    margin: 0px;
}
.ulist .list{
    float: left;
    list-style: none;
    padding: 0 10px;
    text-decoration: underline;
}
.ulist .list a:hover {
    color: yellow;
}
.collapse{
	color: black;
}
.ftercontain{
    margin: auto;
    max-width: 1170px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.ulist{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.columns{
    width: 25%;
    padding: 0 15px;
}
h4{
    font-size: 17px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500px;
    
}
.oll{
    color: white;
}