body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Homepage{
    width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 90px;
    line-height: 85px;
}
.Logo{
    font-size: 35px;
    color: gold;
    font-weight: bold;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0,4s all ease;
}
ul{
    margin: 0px;
}
ul li{
    float: left;
    list-style: none;
    padding: 0 10px;
    text-decoration: underline;
}
ul li a:hover {
    color: yellow;
}
.imgscroll{
    background-image: url('img/taco3.jpg');/*References : Fishtacoonline.com*/
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    min-height: 1080px;
    min-width: 1920px;
    object-fit: cover;
}
.contentforimage{
    position: absolute;
    top: 50%;
    bottom: 50%;
    color: white;/*djdj*/
    text-align: center;
  
}
.contentforimage h1{
    font-size: 50px;
    font-weight: 700;
}
.contentforimage p {
    padding: 0px 70px;
    font-size: 20px;
    font-weight: 500;
}
button{
    background: none;
    border: 0,9px solid black;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 6px;
}
button:hover{
    background-color: yellow;
    color: black;
}
.aboutus h1 {
    text-align: center;
}
aside{
    float: right;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    display: grid;
    grid-gap: 160px;
}
main{
    overflow: auto;
    margin: 40px auto;
    padding: 20px 250px;
}
section{
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    box-shadow: 2px 2px 2px 2px black;
    padding: 20px;
    margin: 20px;
}
h2 {
    margin: 10px;
    padding: 10px;
    font-size: 50px;
    color: gold;
    text-shadow: 1.5px 1.5px black;
    text-align: left;
}
h3{
    margin: 10px;
    padding: 10px;
    color: black;
    text-align: left;
}
.p {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: 400;
}
.h1 {
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 30px;
}
.ftercontain{
    margin: auto;
    max-width: 1170px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
   
    background-color: #24262b;
    padding: 70px 0;
}
.columns{
    width: 25%;
    padding: 0 15px;
}
h4{
    font-size: 17px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500px;
    
}
.oll{
    color: white;
}
  
